<% provide(:page_title, 'About') %>

<h1>About Us</h1>

</br>
</hr>

<h9>Desarrollado por:</h9>
<br>
<h9>Luis Ismael Serrano Galaviz (MasterWicho)</h9>
<br>
<h9>Dylan Haniel Tremillo Toca (dystoland)</h9>