<div class='col-sm-6 col-lg-4'>
  <div class="card">
      <div class="card-topper" style='background-image: url(<%= videogame.image %>);'></div>
    <div class="card-block">
      <h4 class="card-title"><%= link_to videogame.name, videogame %></h4>
        <p class="published-date"><%= videogame.display_date_published %></p>
        <p class="card-text"><%=truncate(videogame.description, length: 130)%></p>
        <%= link_to 'Read', videogame, class: 'btn btn-read' %>
    </div>
  </div>
</div>