<% provide(:page_title, @videogame.name) %>

<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @videogame.name %></h1>
    <p><%= @videogame.display_date_published %></p>
    <%= @videogame.description%>
  </div>
</div>