<%= form_for(videogame, url: url) do |f| %>
  <% if videogame.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(videogame.errors.count, "error") %> prohibited this videogame from being saved:</h2>

      <ul>
      <% videogame.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-md-3">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :image %>
            <%= f.text_field :image, class: "form-control", placeholder: "Image Url" %>
          </div>
      </div>
      <div class="col-md-9">
        <div class="form-group">
            <label for="exampleTextarea"><%= f.label :description %></label>
            <%= f.text_area :description, class: "form-control", rows: "3" %>
        </div>          
      </div>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
