<tr>
    <td><%= link_to videogame.name, admins_videogame_path(videogame) %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_admins_videogame_path(videogame), class: 'btn btn-sm btn-warning' %> </td>
    <td><%= link_to 'Remove', admins_videogame_path(videogame), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %> </td>
</tr>