<% provide(:page_title, "Edit #{@videogame.name}") %>
<% provide(:admins, 'active') %>

<h1>Editing Videogame</h1>

<%= render 'form', videogame: @videogame, url: admins_videogame_url(@videogame)  %>

<%= link_to 'Show', @videogame %> |
<%= link_to 'Back', admins_videogames_path %>
