<% provide(:page_title, 'Home') %>
<% provide(:admins, 'active') %>

<div class="row">
    <div>
        <%= link_to 'New', new_admins_videogame_path, class: 'btn btn-primary btn-lg' %>
    </div>
    <br>
    <table class="table table-striped">
        <tr>
            <th colspan="4">Name</th>
        </tr>
        <% @videogames.each do |videogame| %>
            <%= render videogame %>
        <% end %>
    </table>

</div>
