<% provide(:page_title, 'New Videogame') %>
<% provide(:admins, 'active') %>

<h1>New Videogame</h1>

<%= render 'form', videogame: @videogame, url: admins_videogames_url %>

<%= link_to 'Back', admins_videogames_path %>
