<% provide(:page_title, @videogame.name) %>
<% provide(:admins, 'active') %>

<div>
    <%= link_to 'Edit', edit_admins_videogame_path(@videogame), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Remove', admins_videogame_path(@videogame), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @videogame.name %></h1>
    <p><%= @videogame.display_date_published %></p>
    <%= @videogame.description%>
  </div>
</div>