<div class="collapse navbar-collapse justify-content-end" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class='card'>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
        </li>
        <% if admin_signed_in? %> 
            <li class="list-group-item">
              <%= link_to 'My posts', admins_videogames_path, class: "nav-link #{yield(:admins)}" %>
            </li>
          <li class="list-group-item">
                <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: "nav-link" %> 
            </li>
        <% end %>  
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-light bg-faded">
  <div class='container'>
    <a class='navbar-brand' href='/'>
      App<span class='light'>Blog</span>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li>
        <% if admin_signed_in? %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_admin.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'My posts', admins_videogames_path, class: "dropdown-item #{yield(:admin)}" %>
                  <%= link_to 'Account', admins_account_path, class: "dropdown-item #{yield(:admin)}" %>
                  <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: "dropdown-item" %>
              </div>
          </li>
        <% else %>
            <li class="nav-item">
                <a href="/admins/sign_in" class="nav-link">Log in</a>
            </li>
        <% end %>
    </ul>
  </div>
</nav>